@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: rgb(243, 243, 243);
  /* background-color: #f7f7f7; */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 8rem;
}

p {
  font-size: 2rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: rgb(22, 21, 21);
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: rgb(22, 21, 21);
}

p1 {
  font-size: 1.8rem;
  color: rgb(22, 21, 21);
}

.big {
  line-height: 45px;
}

.search {
  /* bottom: 80;
  right: 80; */
  width: 500px;
  height: 50px;
  border: 3px solid #73ad21;
  font-size: 2rem;
}

.hidden {
  display: none;
  opacity: 0;
}

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.fa {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 12px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 15%;
  padding: 1px;
  background: #2196f3;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

/*
.images {
  display: flex; 
  display: inline;
}

.images img {
  display: block;
  width: 80rem;
  margin: 4rem;
}

.images img.parallel {
  width: 40rem;
  margin: 2rem;
  border: 3rem solid white;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
}
*/

/* próba z obrazkami 1 */

.column {
  float: left;
  width: 100%;
  padding: 5px;
  max-width: 500px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
/* próba z galerią 1 */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  color: rgb(22, 21, 21);
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
